*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 120%;
    background: #f8f8ff;
}

.headform{

    width: 40%;
    padding: 0px auto 0px;
    color: white;
    background: #286ceb;
    text-align: center;
    border: 1px solid #80C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    margin : 80px auto;

}

form{
    
    width: 40%;
    margin: -80px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;

}